<!-- Coursework Section -->
<section class="success" id="coursework">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Relevant Coursework</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
        <p><strong>Problem Solving with Object-Oriented Programming:</strong></p> 
        <p>Solving computational problems with abstraction, modularity, data structures, and algorithms.</p>
        <p></p>
        <p><strong>Machine Learning with Object-Oriented Programming:</strong></p> 
        <p>Using computational models and statistical approaches to process language.</p>
        <p></p>
        <p><strong>Interdisciplinary Collaboration:</strong></p> 
        <p>Collaborating with engineers and designers to prepare the launch of a product for a real-time client. </p>
        <p></p>
    </div>
  </div>
</section>
