<!--<style>
  .title {
    font-size: 30px;
  }
  .img_display {
    display: block;
  }
</style>-->

<!-- Coursework Section -->
<!-- <div class="success" id="coursework">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Relevant Coursework</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="row">
      <h3>Problem Solving with Object-Oriented Programming:</h3>
      <p>
        Solving computational problems with abstraction, modularity, data
        structures, and algorithms.
      </p>
      <h3>Machine Learning with Object-Oriented Programming:</h3>
      <p>
        Using computational models and statistical approaches to process
        language.
      </p>
      <h3>Interdisciplinary Collaboration:</h3>
      <p>
        Collaborating with engineers and designers to prepare the launch of a
        product for a real-time client.
      </p>
    </div>
  </div>
</div>-->
