<style>
  .title {
    font-size: 30px;
  }
  .img_display {
    display: block;
  }
</style>

<!-- Experiences Section -->
<div class="success" id="experiences">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Experiences</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="row">
      <h3>Professional Experiences:</h3>
      <ul>
        <li><p>Game Developer @AiR Play: May 2023 - August 2023</p></li>
        <li>
          <p>
            Research Scholar @Google’s CS Research Mentorship Program: September
            2022 - December 2022
          </p>
        </li>
      </ul>

      <h3>Campus Involvements:</h3>
      <ul>
        <li>
          <p>Co-President @Alternate Reality Initiative: May 2023 - Present</p>
        </li>
        <li>
          <p>
            Software Engineer @UMich’s Multidisciplinary Design Program: January
            2023 - Present
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
