<!-- Experiences Section -->
<section class="success" id="experiences">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Experiences</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <p><strong>Professional Experience:</strong></p>
      <p>Game Developer @AiR Play</p>
      <p>Summer 2023 - Present</p>
      <p></p>
      
      <p>Research Scholar @Google’s CS Research Mentorship Program</p>
      <p>September 2022 - December 2022</p>
      <p></p>
      <p></p>
      
      <p><strong>Campus Involvements:</strong></p>
      <p>Co-President @Alternate Reality Initiative </p>
      <p>May 2023 - Present</p>
      <p></p>
      
      <p>Software Engineer @UMich’s Multidisciplinary Design Program</p>
      <p>January 2023 - Present </p>
      <p></p>
      
    </div>
  </div>
</section>
