<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>{{ site.footer.location }}</h3>
          <p>
            {% for adress in site.address %} {{ adress.line }} <br />
            {% endfor %}
          </p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Contact Me</h3>
          <ul class="list-inline">
            <li>
              <a
                href="https://www.linkedin.com/in/wanpil-choi-234396156/"
                aria-label="first link"
                class="btn-social btn-outline"
                ><i class="fa-brands fa-fw fa-linkedin"></i
              ></a>
            </li>

            <li>
              <a
                href="https://github.com/nicolewnchoi"
                aria-label="second link"
                class="btn-social btn-outline"
                ><i class="fa-brands fa-fw fa-github"></i
              ></a>
            </li>

            <li>
              <a
                href="mailto:wanpilc@umich.edu"
                aria-label="third link"
                class="btn-social btn-outline"
                ><i class="fa-brands fa-fw fa-google"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>{{ site.footer.credits }}</h3>
          <p>{{ site.credits }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date:
          '%y' }}
        </div>
      </div>
    </div>
  </div>
</footer>
