<!-- Portfolio Grid Section -->
    <div class="success" id="portfolio">
      
      <div class="container portfolio-flex-grid">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Projects</h2>
            <hr class="star-light">
          </div>
        </div>
        <div class="portfolio-flex-row">
          
            
              <div class="portfolio-flex-item portfolio-item">
                <a href="#portfolioModal-1" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="img/Daily_Daisies_Logo.png" class="img-responsive" alt="Logo of Daily Daisies">
                </a>
              </div>
            
          
            
              <div class="portfolio-flex-item portfolio-item">
                <a href="#portfolioModal-2" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="img/PainPal_Graphic.png" class="img-responsive" alt="Instructions of using PainPal">
                </a>
              </div>
            
          
            
              <div class="portfolio-flex-item portfolio-item">
                <a href="#portfolioModal-3" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="img/Takoyakis_Revenge.png" class="img-responsive" alt="Title screen of Takoyaki's Revenge">
                </a>
              </div>
        </div>
      </div>
        
      <div class="container portfolio-flex-grid">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Animation</h2>
            <hr class="star-light">
          </div>
        </div>
        <div class="portfolio-flex-row">
          
              <div class="portfolio-flex-item portfolio-item">
                <a href="#portfolioModal-4" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="img/Temptation.png" class="img-responsive" alt="Screenshot of the animation, Temptation">
                </a>
              </div>
            
          
            
              <div class="portfolio-flex-item portfolio-item">
                <a href="#portfolioModal-5" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="img/Food_Fight_(BETTER).png" class="img-responsive" alt="Screenshot of the animation, Food Fight">
                </a>
              </div>
            
              <div class="portfolio-flex-item portfolio-item">
                <a href="#portfolioModal-6" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="img/Nicole-Choi_Rotoscope-Animation.gif" class="img-responsive" alt="A gif of an ice cream walking">
                </a>
              </div>
            
          
        </div>
      </div>
    </div>
<!-- <div class="success" id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Computer Science</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% for post in site.posts %} {% if post.tag %}
      <div class="portfolio-flex-item portfolio-item">
        <a
          href="#portfolioModal-{{ post.modal-id }}"
          class="portfolio-link"
          data-toggle="modal"
        >
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img
            src="img/{{ post.img }}"
            class="img-responsive"
            alt="{{ post.alt }}"
          />
        </a>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>

  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Animation</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% for post in site.posts %} {% if post.tagART %}
      <div class="portfolio-flex-item portfolio-item">
        <a
          href="#portfolioModal-{{ post.modal-id }}"
          class="portfolio-link"
          data-toggle="modal"
        >
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img
            src="img/{{ post.img }}"
            class="img-responsive"
            alt="{{ post.alt }}"
          />
        </a>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</div> -->
