<!-- Skills Section -->
<section class="success" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skills</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="row">
      <!--<div class="col-lg-4">-->
      <h3>Languages:</h3>
      <p>C++, C#, Python, HTML, CSS, JavaScript, SQL</p>

      <!--<div class="col-lg-4">-->
      <h3>Software and Environments:</h3>
      <p>Xcode, Unity, VSCode, Visual Studio</p>
      <!--</div>-->

      <!--<div class="col-lg-4">-->
      <h3>Libraries:</h3>
      <p>OpenCV, NumPy, React, AngularJS, Flask</p>
      <!--<p class="title">Libraries: </p>
        <p class="skillsList">OpenCV, NumPy, React, AngularJS, Flask</p>-->
      <!--</div>-->
    </div>
  </div>
</section>
