<style>
  .title{
    font-size: 50px;
  }
  .skillsList{
    margin-botttom: 30px;
  }
</style>

<!-- Skills Section -->
<section class="success" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skills</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <!--<div class="col-lg-4">-->
        <p> <font size= "40"><strong>Languages: </strong></font> C++, C#, Python, HTML, CSS, JavaScript, SQL </p> 
        <!--<p class="skillsList">C++, C#, Python, HTML, CSS, JavaScript, SQL</p>-->
      <!--</div>-->

      <!--<div class="col-lg-4">-->
        <p> <font size= "40"><strong>Software and Environments: </strong></font> Xcode, Unity, VSCode, Visual Studio</p> 
        <!--<p class="title">Software and Environments:</p>  
        <p class="skillsList">Xcode, Unity, VSCode, Visual Studio</p>-->
      <!--</div>-->

      <!--<div class="col-lg-4">-->
        <p> <font size= "40"><strong>Libraries: </strong></font> OpenCV, NumPy, React, AngularJS, Flask</p> 
        <!--<p class="title">Libraries: </p>
        <p class="skillsList">OpenCV, NumPy, React, AngularJS, Flask</p>-->
      <!--</div>-->
      
    </div>
  </div>
</section>
