<!-- Skills Section -->
<section class="success" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skills</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      
        <div class="col-lg-8">
          <p>Hi there! My name is Wanpil Nicole Choi. I am an undergraduate pursuing a dual degree in computer science 
            and art & design at the University of Michigan-Ann Arbor. I explore and build new ways to combine both disciplines 
            of engineering and art to create pleasurable experiences for the user and promote humanity in the age of technology.</p>
        
          <p>This is reflected in my projects where they center around the wellbeing of the user. 
            For example, using mixed reality to create a detailed visualization of the pain points to help the users communicate 
            their illness better and augmented reality to promote users’ wellbeing through nurturing virtual plants.</p>
  
          <p>I’m currently focused on XR development, game development, digital animations, and learning artificial intelligence 
            and UX/UI of web pages.</p>
  
          <p>When I’m not working, I love solo traveling, exploring new restaurants, drawing digital art, skiing, and playing video games!</p>
        </div>

        <div class="col-lg-8">
          <p>Hi there! My name is Wanpil Nicole Choi. I am an undergraduate pursuing a dual degree in computer science 
            and art & design at the University of Michigan-Ann Arbor. I explore and build new ways to combine both disciplines 
            of engineering and art to create pleasurable experiences for the user and promote humanity in the age of technology.</p>
        
          <p>This is reflected in my projects where they center around the wellbeing of the user. 
            For example, using mixed reality to create a detailed visualization of the pain points to help the users communicate 
            their illness better and augmented reality to promote users’ wellbeing through nurturing virtual plants.</p>
  
          <p>I’m currently focused on XR development, game development, digital animations, and learning artificial intelligence 
            and UX/UI of web pages.</p>
  
          <p>When I’m not working, I love solo traveling, exploring new restaurants, drawing digital art, skiing, and playing video games!</p>
        </div>

    </div>
  </div>
</section>
